/* Header */
.header__restaurant{
    display: flex; 
   justify-content: center;
   position: relative;
   margin: 20px 0px;
   
   &__arrow { 
       color: black; 
   }
   & i {
       position: absolute; 
       top: 0px; 
       left: 50px; 
       height: 100%; 
       align-items: center;;
       @media(max-width: 300px){
           position: static; 

       }
       
   } 

}  