/* Carte  */


.menu {
    display: flex; 
    flex-direction: column; 
    position: relative; 
    height : 700px; 
    margin-bottom: 0px; 
    background: $background-place; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    @media (max-width: 1000px) {
        height: 1400px;  
    }
    &__longerformobile{
        @media (max-width: 1000px){
            height: 1600px; 
        }
    }
    &__restaurant {
        display: flex; 
        justify-content: space-between; 
        margin: 5px 20px 20px 30px; 
        &__title {
            font-family: "Shrikhand", cursive; 
            font-size: 2rem; 
            font-weight: bold;
            font-style: italic;
        }
        &__heart {
            background: $background-place;  
            border: none; 
            width: 50px; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            cursor: pointer; 
            &__one {
                position: relative; 
                &__two {
                    position: absolute; 
                    top: 0px;
                    right: 0px; 
                    left: 0px; 
                    bottom: 0px; 
                    color: $color-primary; 
                    opacity: 0; 
                    transition: opacity 500ms ease-in-out; 
                    }
                            
                        }   
                        &:hover > .menu__restaurant__heart__one > .menu__restaurant__heart__one__two{
                            opacity: 1; 
                        } 
                        &:hover > .menu__restaurant__heart__one{
                            color: $color-primary;
                        }
        }
    }
    &__type {
        display: flex; 
        height: 600px;
        margin: 20px 0px 0px 20px; 
        justify-content: space-around;
        flex-wrap: wrap; 
        transform-origin: top;
        @media (max-width: 1000px){
            height: 1300px;
        }
        &__class{
            width: 30%;
            height: 350px; 
            @media (max-width: 1000px){
                width: 100%; 
            }
            &__longer {
                @media (max-width: 1000px){
                    height: 33%; 
                }
            }
            
            &__title {
                border-bottom: 5px solid $color-tertiary; 
                width: 60px;
                margin-bottom: 50px;
            }
            &__button{
                margin-left: -5px; 
                margin-top: 20px; 
                background: white;
                border: none; 
                box-shadow: $box-shadow; 
                width: 100%; 
                height: 75px; 
                display: flex;
                align-items: flex-start; 
                text-align: left; 
                border-radius: 20px; 
                overflow: hidden; 
                cursor: pointer; 
                @for $i from 1 through 10{
                    &--#{$i}{
                        animation: display 1s 300ms * $i both ease-out; 
                    }
                }
                @media (max-width: 1000px){
                    width: 100%; 
                }
                &__more{
                    margin-left: 10px; 
                    display: flex; 
                    flex-direction: column; 
                    justify-content: center; 
                    width: 95%; 
                    height: 100%; 
                    transition: width 1000ms cubic-bezier(0, 0.14, 0, 0.99);
                    & h4{
                        font-size: 1.2rem; 
                        width: 300px;
                        font-weight: 400; 
                    }
                    &__description{
                        width: 100%; 
                        margin-top: 5px; 
                        height: 20px; 
                        padding: 0px; 
                        display: flex;
                        justify-content: space-between;
                        &__meal{
                            display:block; 
                            width: 350px; 
                            font-size: 1rem; 
                            height: 100%; 
                            font-weight: 100; 
                            white-space: nowrap; 
                            overflow: hidden; 
                            text-overflow:ellipsis; 
                            transition: text-overflow 500ms; 
                        } 
                        &__price {
                            width: 30px;
                            height: 100%; 
                            margin-top: 0px;
                            font-weight: 400; 
                            font-size: 1rem;  
                        }
                    }
                } 
                &__translation {
                    display: flex; 
                    justify-content: center; 
                    align-items: center; 
                    background-color: $color-tertiary;
                    margin-left: 0px; 
                    width: 20%; 
                    height: 100%; 
                    transform: translate(100%); 
                    transition: transform 300ms ease-out; 
                    &__validation {
                        color: white; 
                        transform: rotate(-270deg); 
                        transition: transform 500ms ease-out; 
                    }
                }
                &:hover > .menu__type__class__button__translation{
                    transform: translate(50%); 
                }
                &:hover > .menu__type__class__button__translation > .menu__type__class__button__translation__validation{
                    transform: rotate(0deg); 
                }
                &:hover > .menu__type__class__button__more{
                    margin-right: 0px; 
                    padding: 0px; 
                    width: 70%; 
                    
                }
            } 
        }

    }
    &__order {
        width: 100%; 
        height: 200px; 
        display: flex; 
        justify-content: center; 
        align-items: flex-start; 
        margin: 0 auto; 
        @media (max-width: 900px){
            height: 200px; 
            &__longer {
                height: 100px;  
            }
        }
        &__button {
            position: relative; 
            font-size: 1rem; 
            width: 220px;
            height: 50px; 
            border-radius: 30px; 
            color: white; 
            border: none; 
            height: 50px; 
            @include color-radial; 
            cursor: pointer;
            box-shadow: 2px 2px 2px 2px #CCD1D1;
            z-index: 1; 
            &:hover {
                background: linear-gradient(0deg, rgba(147,86,220,1) 31%, rgba(255,121,218,1) 100%);
                box-shadow: 3px 3px 3px 3px #CCD1D1;
                &::after {
                    opacity: 1; 
                }
            }
            &::after {
                content: ""; 
                border-radius: 30px; 
                position: absolute; 
                top: 0; 
                bottom: 0; 
                right: 0; 
                left: 0; 
                background: linear-gradient(0deg, lighten($clr-btn-first, 5) 31%, lighten($clr-btn-second, 5) 100%);
                opacity: 0; 
                z-index: -1; 
                
            }
        }
    }

}
