@charset "UTF-8";
/* Variables */
/* Mixin */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Times New Roman", serif;
}
* button:focus {
  outline: 0;
}

/* Header */
header {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 15%;
}

/* Place */
.place {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAECEE;
  height: 40px;
}
.place__input {
  margin-left: 20px;
  border: none;
  background-color: #EAECEE;
}
.place__input:focus {
  outline: 0;
}

/* Discovery  */
.discovery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin: 0 auto;
  background: #F2F4F4;
}
.discovery__title {
  text-align: center;
}
.discovery__paragraph {
  text-align: center;
  margin-top: 10px;
}
.discovery__button {
  width: 220px;
  height: 50px;
  border-radius: 30px;
  color: white;
  border: none;
  background: #9356dc;
  background: linear-gradient(0deg, #9356dc 31%, #ff79da 100%);
  box-shadow: 2px 2px 2px 2px #CCD1D1;
  cursor: pointer;
}
.discovery__button:focus {
  outline: 0;
}

.step__title {
  text-align: center;
  margin-top: 50px;
}
.step__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}
.step__container__step {
  display: flex;
  margin-bottom: 30px;
  background: #F2F4F4;
  padding: 20px 40px;
  border-radius: 20px;
  position: relative;
}
.step__container__step__number {
  position: relative;
  right: 50px;
  bottom: 2px;
  color: white;
  background: #9356DC;
  border-radius: 50%;
  padding: 2px 7px 2px 7px;
}
.step__container__step__icone {
  position: relative;
  right: 20px;
  color: #808B96;
}

/* Restaurant */
.restaurant {
  background: #F2F4F4;
  height: 650px;
}
.restaurant__sectiontitle {
  padding: 30px 0px 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  border-radius: 20px;
}
.restaurant__card__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.restaurant__card__top__one {
  border-radius: 10px;
  height: 250px;
  width: 48%;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  box-shadow: 5px 5px 5px 5px lightgrey;
}
.restaurant__card__top__one__image {
  position: relative;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 75%;
  width: 100%;
  background: url("../../Maquettes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") center no-repeat;
  background-size: cover;
}
.restaurant__card__top__one__image__new {
  position: absolute;
  color: #1E8449;
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 5px;
  background: #99E2D0;
}
.restaurant__card__top__one__description {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 25%;
  width: 100%;
  margin-top: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.restaurant__card__top__one__description__placeandname {
  margin: 10px 0px 0px 10px;
}
.restaurant__card__top__one__description__placeandname__place {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 4px;
}
.restaurant__card__top__one__description__heart {
  margin: 10px 10px 0px 0px;
}
.restaurant__card__top__second {
  border-radius: 10px;
  height: 250px;
  width: 48%;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  box-shadow: 5px 5px 5px 5px lightgrey;
}
.restaurant__card__top__second__image {
  position: relative;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 75%;
  width: 100%;
  background: url("../../Maquettes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") center no-repeat;
  background-size: cover;
}
.restaurant__card__top__second__image__new {
  position: absolute;
  color: #1E8449;
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 5px;
  background: #99E2D0;
}
.restaurant__card__top__second__description {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 25%;
  width: 100%;
  margin-top: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.restaurant__card__top__second__description__placeandname {
  margin: 10px 0px 0px 10px;
}
.restaurant__card__top__second__description__placeandname__place {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 4px;
}
.restaurant__card__top__second__description__heart {
  margin: 10px 10px 0px 0px;
}
.restaurant__card__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.restaurant__card__bottom__one {
  border-radius: 10px;
  height: 250px;
  width: 48%;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  box-shadow: 5px 5px 5px 5px lightgrey;
}
.restaurant__card__bottom__one__image {
  position: relative;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 75%;
  width: 100%;
  background: url("../../Maquettes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") center no-repeat;
  background-size: cover;
}
.restaurant__card__bottom__one__description {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 25%;
  width: 100%;
  margin-top: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.restaurant__card__bottom__one__description__placeandname {
  margin: 10px 0px 0px 10px;
}
.restaurant__card__bottom__one__description__placeandname__place {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 4px;
}
.restaurant__card__bottom__one__description__heart {
  margin: 10px 10px 0px 0px;
}
.restaurant__card__bottom__second {
  border-radius: 10px;
  height: 250px;
  width: 48%;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  box-shadow: 5px 5px 5px 5px lightgrey;
}
.restaurant__card__bottom__second__image {
  position: relative;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 75%;
  width: 100%;
  background: url("../../Maquettes Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") center no-repeat;
  background-size: cover;
}
.restaurant__card__bottom__second__description {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 25%;
  width: 100%;
  margin-top: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.restaurant__card__bottom__second__description__placeandname {
  margin: 10px 0px 0px 10px;
}
.restaurant__card__bottom__second__description__placeandname__place {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 4px;
}
.restaurant__card__bottom__second__description__heart {
  margin: 10px 10px 0px 0px;
}

/* footer  */
footer {
  height: 300px;
  background-color: #626567;
}
footer img {
  filter: invert(100%);
  width: 120px;
  margin: 20px 0px 20px 20px;
}
footer ul {
  color: white;
  margin: 20px 0px 20px 20px;
  list-style-type: none;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul i {
  margin-right: 5px;
}
footer a {
  text-decoration: none;
  color: white;
}

/* Menu la palette du goût */
/* Header */
.header__restaurant {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px 0px;
}
.header__restaurant__arrow {
  color: black;
}
.header__restaurant i {
  position: absolute;
  top: 0px;
  left: 50px;
  height: 100%;
  align-items: center;
}

/* banner */
.banner {
  width: 100%;
  height: 500px;
  background: url("../../Maquettes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  top: 12px;
}

/* Carte la palette du goût */
.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 700px;
  margin-bottom: 0px;
  background: #EAECEE;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.menu__restaurant {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px 20px 30px;
}
.menu__restaurant__title {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}
.menu__type {
  display: flex;
  height: 500px;
  margin: 30px 0px 0px 20px;
  justify-content: space-around;
}
.menu__type__class {
  width: 400px;
  height: 330px;
}
.menu__type__class__title {
  border-bottom: 5px solid #99E2D0;
  width: 15%;
  margin-bottom: 50px;
}
.menu__type__class__button {
  margin-left: -5px;
  margin-top: 20px;
  background: white;
  border: none;
  box-shadow: 1px 1px 1px 1px grey;
  width: 400px;
  height: 75px;
  display: flex;
  align-items: flex-start;
  text-align: left;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.menu__type__class__button__more {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  height: 100%;
  transition: width 1000ms cubic-bezier(0, 0.14, 0, 0.99);
}
.menu__type__class__button__more h4 {
  font-size: 1.2rem;
  width: 300px;
}
.menu__type__class__button__more__description {
  margin-top: 5px;
  height: 20px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
.menu__type__class__button__more__description__meal {
  display: block;
  width: 350px;
  font-size: 1rem;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: text-overflow 500ms;
}
.menu__type__class__button__more__description__price {
  width: 30px;
  height: 100%;
  margin-top: 0px;
  font-weight: bold;
  font-size: 1rem;
}
.menu__type__class__button__translation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  margin-left: 0px;
  width: 20%;
  height: 100%;
  transform: translate(100px);
  transition: transform 200ms;
}
.menu__type__class__button__translation__validation {
  color: white;
  transform: rotate(-180deg);
  transition: transform 1000ms;
}
.menu__type__class__button:hover > .menu__type__class__button__translation {
  transform: translate(30px);
  transition: transform 500ms;
}
.menu__type__class__button:hover > .menu__type__class__button__translation > .menu__type__class__button__translation__validation {
  transform: rotate(0deg);
}
.menu__type__class__button:hover > .menu__type__class__button__more {
  margin-right: 0px;
  padding: 0px;
  width: 70%;
}
.menu__type__class__button:hover > .menu__type__class__button__more > .menu__type__class__button__more__description {
  width: 100%;
}
.menu__dishes {
  height: 330px;
}
.menu__desserts {
  height: 330px;
}
.menu__order {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.menu__order__button {
  width: 220px;
  height: 50px;
  border-radius: 30px;
  color: white;
  border: none;
  height: 50px;
  background: #9356dc;
  background: linear-gradient(0deg, #9356dc 31%, #ff79da 100%);
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #CCD1D1;
}

/* .container {
    border: 2px solid blue;
    width: 400px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transform-origin: top;
    animation: meal 200ms ease-in 150ms; 
    &__menu {
      border: 2px solid green;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-right: 0px;
      width: 100%;
      transition: width 1000ms cubic-bezier(0, 0.14, 0, 0.99);
      &--description {
        height: 20px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
         border: 2px solid green;
        border-bottom-left-radius: 20px;
        &--meal {
          display: block;
          border: 2px solid black; 
          border-bottom-left-radius: 20px;
          margin-top: 0px;
          width: 350px;
          font-size: 17px;
          height: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          transition: text-overflow 500ms;
        }
        &--price {
          border: 2px solid red; 
          width: 30px;
          height: 100%;
          margin-top: 0px;
        }
      }
    }
    &:hover > .container__background {
      transform: translate(0px);
      transition: transform 500ms;
    }
    &:hover > .container__background > .container__background--validation {
      transform: rotate(0deg);
    }
    &:hover > .container__menu {
      margin-right: 0px;
      padding: 0px;
      width: 70%;
      & > .container__menu--description {
        width: 100%;
      }
    }

    &:hover
      > .container__menu
      > .container__menu--description
      > .container__menu--description--meal {
      text-overflow: ellipsis;
    }
  }

  .container__background {
    background-color: green;
    margin-left: 0px;
    width: 30%;
    transform: translate(20px);
    transition: transform 200ms;
    &--validation {
      width: 30px;
      height: 30px;
      border: 2px solid green; 
      margin-top: 27px;
      margin-left: 30px;
      transform: rotate(-90deg);
      transition: transform 1000ms;
    }
  } */

/*# sourceMappingURL=style.css.map */
