$color-primary: #9356DC; 
$color-secondary: #FF79DA; 
$color-tertiary: #99E2D0;
$heading-size: 16px;
$background-place: #EAECEE;
$background-discovery: #F2F4F4; 
$color-new: #1E8449; 
$clr-btn-first: rgba(147,86,220,1); 
$clr-btn-second: rgba(255,121,218,1); 